---
interface Props {
	label: string;
	icon: string;
	href?: string;
	newTab?: boolean;
}

const {
	label,
	href,
	newTab,
	icon,
} = Astro.props;
const target = newTab ? "_blank" : undefined;
const rel = newTab ? "noopener noreferrer" : undefined;
---


<a
	class="Button"
	href={href}
	target={target}
	rel={rel}
>
	<span aria-hidden="true">{icon}</span>&nbsp;
	{label}
</a>


<style>
	.Button {
		display: flex;
		min-block-size: var(--size-ui);
		min-inline-size: var(--size-ui);
		padding-inline: 1.5ch;
		justify-content: center;
		align-items: center;
		font-size: var(--font-size-link);
		border-radius: var(--radius-sm);
	}

	.Button:nth-of-type(3n+1) {
		border: 1px solid var(--color-primary);
	}

	.Button:nth-of-type(3n+2) {
		border: 1px solid var(--color-secondary);
	}

	.Button:nth-of-type(3n+3) {
		border: 1px solid var(--color-tertiary);
	}

	.Button:nth-of-type(3n+1):is(:hover, :focus-visible) {
		background: var(--color-primary);
		color: var(--color-background);
	}

	.Button:nth-of-type(3n+2):is(:hover, :focus-visible) {
		background: var(--color-secondary);
		color: var(--color-background);
	}

	.Button:nth-of-type(3n+3):is(:hover, :focus-visible) {
		background: var(--color-tertiary);
		color: var(--color-background);
	}
</style>
