---
import { GTM, Meta } from "../constants";

const PROD: boolean = import.meta.env.PROD;
const { TITLE, DESCRIPTION } = Meta;
---

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<title>{TITLE}</title>
	<meta name="description" content={DESCRIPTION} />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap"
		rel="stylesheet"
	/>
	<meta name="author" content={Meta.AUTHOR} />
	<meta name="canonical" content={Meta.URL} />
	<meta name="color-scheme" content="dark light" />
	<meta name="theme-color" content={Meta.THEME} />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content={TITLE} />
	<meta name="twitter:description" content={DESCRIPTION} />
	<meta name="twitter:image" content={Meta.IMAGE} />
	<meta name="twitter:image:alt" content={DESCRIPTION} />
	<meta name="twitter:url" content={Meta.URL} />
	<meta property="og:type" content="website" />
	<meta property="og:title" content={TITLE} />
	<meta property="og:site_name" content={TITLE} />
	<meta property="og:description" content={DESCRIPTION} />
	<meta property="og:image" content={Meta.IMAGE} />
	<meta property="og:url" content={Meta.URL} />
	<meta name="format-detection" content="email=no" />
	<link rel="icon" href="/favicon.ico" sizes="any" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	<link rel="manifest" href="/dan.webmanifest" />
	{PROD && <script is:inline set:html={GTM.HEAD} />}
</head>
