---
import type { Content as Props } from '../types/main.d';

const { heading, links } = Astro.props as Props;
---


<section
  class="Info"
  data-std-layout
  aria-label={heading}
>
  <h2 data-sr-only>{heading}</h2>
  {links.map(item => (
    <a
      class="Link"
      href={item.url}
      target={item.target ? `_${item.target}` : undefined}
      rel={item.target === 'blank' ? 'noopener noreferrer' : undefined}
    >
      {item.text}
      <span aria-hidden="true">&nbsp;{item.icon}</span>
    </a>
  ))}
</section>


<style is:inline>
.Info {
  contain: content;
  content-visibility: auto;
  display: flex;
  padding-block: 0 20vh;
  contain-intrinsic-size: 0 19rem;
  flex-flow: var(--global-dir);
  justify-content: space-between;
}

.Info a {
  margin-block-start: 2rem;
}

.Info a:first-of-type {
  border: 1px solid var(--color-primary);
}

.Info a:nth-of-type(2) {
  border: 1px solid var(--color-secondary);
}

.Info a:last-of-type {
  border: 1px solid var(--color-tertiary);
}

.Info a:first-of-type:is(:hover, :focus-visible) {
  background: var(--color-primary);
  color: black;
}

.Info a:nth-of-type(2):is(:hover, :focus-visible) {
  background: var(--color-secondary);
  color: black;
}

.Info a:last-of-type:is(:hover, :focus-visible) {
  background: var(--color-tertiary);
  color: black;
}
</style>
