---
import {
  Section,
  Links,
} from '../constants';
import Button from '../components/Button.astro';

const id = Section.Nav.ID;
const [ home, contact ] = Links.Nav;
---


<nav
  class="Nav"
  data-layout-wide
  aria-labelledby={id} 
>
  <h2 id={id} data-sr>{Section.Nav.HEADING}</h2>
  <p aria-hidden="true">
    {home.LABEL}
  </p>
  <Button
    label={contact.LABEL}
    href={contact.URL}
    icon={contact.ICON}
  />
</nav>


<style>
.Nav {
  contain: strict;
  display: flex;
  block-size: 6rem;
  position: absolute;
  inset-block-start: 0;
  justify-content: space-between;
  align-items: center;
}

.Nav p {
  padding-inline: 0;
  font-size: var(--global-link-home-size);
  font-weight: 400;
}
</style>