---
import type { Navigation as Props } from '../types/main.d';

const { heading, links } = Astro.props as Props;
const { pathname } = Astro.site;
---


<nav
  class="Nav"
  data-wide-layout
  aria-label={heading}
>
  <h2 data-sr-only>{heading}</h2>
  {links.map(link => (
    <a
      class="Link"
      href={link.url} 
      aria-current={link.url === pathname ? 'page' : undefined}
    >
      {link.text}
      <span aria-hidden="true">&nbsp;{link.icon}</span>
    </a>
  ))}
</nav>


<style is:inline>
.Nav {
  contain: strict;
  display: flex;
  block-size: 6rem;
  position: absolute;
  inset-block-start: 0;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

.Nav a {
  pointer-events: auto;
}

.Nav a:first-of-type {
  padding-inline: 0;
  font-size: var(--global-link-home-size);
  font-weight: 400;
}

.Nav a:last-of-type {
  border: 1px solid var(--color-secondary);
}

.Nav a:first-of-type:is(:hover, :focus-visible) {
  color: var(--color-secondary);
}

.Nav a:last-of-type:is(:hover, :focus-visible) {
  color: black;
  background-color: var(--color-secondary);
}
</style>